<div>
	<div class="form-horizontal">
		<div class="legend">
			<span class="i18n" data-i18n="ALIAS_LIST_SETTINGS_PLUGIN/LEGEND_CUSTOM"></span>
			&nbsp;&nbsp;&nbsp;
			<i class="icon-spinner animated" style="margin-top: 5px" data-bind="visible: loading"></i>
		</div>
		<div class="control-group">
			<label class="control-label">
				<span class="i18n" data-i18n="ALIAS_LIST_SETTINGS_PLUGIN/LABEL_ALIAS_LIST"></span>
			</label>
			<div class="controls">
		        <div data-bind="component: {
						name: 'TextArea',
						params: {
							value: aliasList,
							enable: changingEnabled(),
							placeholder: 'user<at>brueggmann.name
admin<at>neomedes.de'
						}
					}"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn" data-bind="click: loadAliasList, enable: !loadingDisabled()">
					<i data-bind="css: {'icon-eye': !loading, 'icon-spinner animated': loading}" class="icon-eye"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n="ALIAS_LIST_SETTINGS_PLUGIN/BUTTON_LOAD"></span>
				</button>
				<button class="btn" data-bind="click: saveAliasList, enable: !savingDisabled()">
					<i data-bind="css: {'icon-floppy': !saving, 'icon-spinner animated': saving}" class="icon-floppy"></i>
					&nbsp;&nbsp;
					<span class="i18n" data-i18n="ALIAS_LIST_SETTINGS_PLUGIN/BUTTON_SAVE"></span>
				</button>
			</div>
		</div>
	</div>
</div>
